@font-face{
	font-family: Pacifico;
	src: url("../fonts/Pacifico-Regular.ttf");
}

@font-face{
	font-family: ARCADECLASSIC;
	src: url("../fonts/ARCADECLASSIC.ttf");
}

.root {
	-fx-padding: 25;
	-fx-background-color: #1B0144;
	-fx-alignment: top-center;
}

.VBox {
	-fx-background-color: #1B0144;
	-fx-alignment: top-center;
}

.scroll-pane {
	-fx-background: #1B0144;
	-fx-border-color: #1B0144;
	-fx-alignment: center;
}

#comboBox{
	-fx-pref-width:180;
	-fx-pref-height: 50;
	-fx-font-size: 24;
    -fx-font-family: ARCADECLASSIC;
	-fx-text-fill: #B8A508;
	-fx-border-color: #B8A508;
}

.button {
	-fx-font-size: 20;
	-fx-text-fill: #B8A508;
	-fx-border-color: #B8A508;
	-fx-background-color: black;
	-fx-font-family: ARCADECLASSIC;
	-fx-max-width: 400;
	-fx-max-height: 400;
}

.button:hover {
	-fx-background-color: #40403F;
	-fx-text-fill: #707006;
}

.label, #bouttonJeu {
	-fx-font-size: 30;
	-fx-text-fill: #B8A508;
	-fx-font-family: ARCADECLASSIC;
}

#titrelabel{
	-fx-font-size: 100;
	-fx-font-family: ARCADECLASSIC;
	-fx-text-fill: #B8A508;
}

#titreCredit{
	-fx-font-size: 44;
	-fx-font-family: ARCADECLASSIC;
}

#check{
	-fx-font-size: 20;
}



